@keyframes parachute {
  0%, 100% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(-10px, -5px) rotate(-2deg);
  }
  50% {
    transform: translate(0, -10px) rotate(0deg);
  }
  75% {
    transform: translate(10px, -5px) rotate(2deg);
  }
}

.parachutingAvocado {
  animation: parachute 3s ease-in-out infinite;
}

